/* ============================================= */
/* Sub-Folder Imports */
/* ============================================= */
/* ============================================= */
/* Utilities Imports */
/* ============================================= */
/* ============================================= */
/*                  Variables                    */
/* ============================================= */
/* ============================================= */
/* Base Imports */
/* ============================================= */
/* line 1, ../../../../Projects/Unit-5-Project/scss/base/_normalize.scss */
body {
  text-align: center;
  background-color: #ddd;
}

/* ============================================= */
/*              Base styles                      */
/* ============================================= */
/* line 6, ../../../../Projects/Unit-5-Project/scss/base/_typography.scss */
* {
  font-family: "Lato", sans-serif;
  color: #777;
  box-sizing: border-box;
}

/* line 12, ../../../../Projects/Unit-5-Project/scss/base/_typography.scss */
p {
  line-height: 1.45em;
}

/* line 16, ../../../../Projects/Unit-5-Project/scss/base/_typography.scss */
a {
  text-decoration: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */
/* line 25, ../../../../Projects/Unit-5-Project/scss/base/_typography.scss */
.headline-primary {
  color: #58e1c1;
  margin-left: 10px;
}

/* line 30, ../../../../Projects/Unit-5-Project/scss/base/_typography.scss */
.headline-secondary {
  font-weight: 300;
  color: #777;
}

/* line 35, ../../../../Projects/Unit-5-Project/scss/base/_typography.scss */
.link {
  color: #51ddfc;
  font-weight: 700;
}

/* line 40, ../../../../Projects/Unit-5-Project/scss/base/_typography.scss */
.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid #58e1c1;
  border-radius: 5px;
}

/* ============================================= */
/* Components Imports */
/* ============================================= */
/* ============================================= */
/*              Forms                            */
/* ============================================= */
/* line 5, ../../../../Projects/Unit-5-Project/scss/components/_forms.scss */
input {
  font-size: 20px;
  width: 600px;
  height: 50px;
  margin-top: 20px;
}

/* ============================================= */
/*              Navigation                       */
/* ============================================= */
/* line 5, ../../../../Projects/Unit-5-Project/scss/components/_navigation.scss */
.nav {
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

/* line 11, ../../../../Projects/Unit-5-Project/scss/components/_navigation.scss */
.nav-link {
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  display: block;
  width: 100%;
  transition: background-color .2s ease-in-out,  color .2s ease-in-out;
}

/* line 22, ../../../../Projects/Unit-5-Project/scss/components/_navigation.scss */
.nav-link:hover {
  color: #fff;
  background-color: #58e1c1;
}

/* ============================================= */
/*              Images                           */
/* ============================================= */
/* line 5, ../../../../Projects/Unit-5-Project/scss/components/_images.scss */
img {
  margin: 5px;
}

/* ============================================= */
/*              Grid System                      */
/* ============================================= */
/* line 5, ../../../../Projects/Unit-5-Project/scss/components/_grid.scss */
.searchbox {
  grid-area: searchbox;
}

/* line 9, ../../../../Projects/Unit-5-Project/scss/components/_grid.scss */
.gallery {
  grid-area: photo;
  margin: auto;
  max-width: 1000px;
}

/* line 15, ../../../../Projects/Unit-5-Project/scss/components/_grid.scss */
.grid {
  height: 100vh;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "searchbox" "photo" "footer";
}

/*# sourceMappingURL=styles.css.map */