/* ============================================= */

/*              Grid System                      */
/* ============================================= */

.searchbox {
  grid-area: searchbox;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 4;
  grid-area: gallery;
  margin: auto;
  max-width: 1000px;
}

.footer {
 grid-area: footer;
}

.grid {
  height: 100vh;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  "searchbox"
  "gallery"
  "footer";
}
